/* Variables */
:root {
    --bg-color: #000000ee;
    --text-color: #fff;
    --hover-text-color: #f0f0f0;
    --accent-color: red;
    --border-color: rgba(156, 156, 156, 0.466);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --border-radius: 10px;
}

/* General Styles */
body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Header */
.head {
    width: 97.5vw;
    height: 95vh;
    position: relative;
    padding-left: 1%;
}

#typing-text {
    margin-left: 2%;
    font-size: 2.4rem;
    font-style: italic;
    font-family: 'Mechfire', sans-serif;
    color: var(--text-color);
    border-right: 2px solid var(--text-color);
    white-space: nowrap;
    overflow: hidden;
}

.name {
    color: var(--text-color);
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 7rem;
}

/* Buttons */
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 2em;
    font-family: Arial;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.svgContainer img {
    width: 2rem;
    padding: 10px;
}

.hover-text {
    position: absolute;
    content: attr(data-text);
    color: var(--hover-text-color);
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--hover-text-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--hover-text-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--hover-text-color));
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: var(--border-radius);
    transition: all 0.3s;
    border: 1px solid var(--border-color);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    border-radius: var(--border-radius);
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: var(--border-color);
    backdrop-filter: blur(4px);
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    min-height: 9vh;
    margin: 1% 1% 0 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.text {
    font-size: 1.3rem;
    margin-right: 4rem;
    font-family: 'Neonrec', sans-serif;
    font-style: italic;
    color: #222;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.text:focus,
.text:hover {
    color: #222;
}

.text:focus:after,
.text:hover:after {
    width: 100%;
    left: 0%;
}

.text:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Menu */
.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
}

.menu1 {
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-style: italic;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.menu1:focus,
.menu1:hover {
    color: #222;
}

.menu1:focus:after,
.menu1:hover:after {
    width: 100%;
    left: 0%;
}

.menu1:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Main Section */
.main {
    position: absolute;
    width: 60vw;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: #16163a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.fondo-compu {
    max-width: 50%;
    height: auto;
    display: block;
}

.main p {
    font-size: 2rem;
    color: var(--text-color);
    font-family: 'Ministry of Moron', sans-serif;
    font-style: italic;
    margin-right: 5%;
    max-width: 45%;
}

/* Container Data Programmer */
.container-data-programmer {
    border-top: 2rem solid var(--bg-color);
    padding-top: 3%;
    width: 98.7vw;
    height: auto;
    background-color: #fff;
}

@media (max-width: 800px) {
    .container-data-programmer {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .container-data-programmer {
        width: 100vw;
    }
}

/* Logo */
.logo {
    width: 3rem;
    position: absolute;
    right: 0;
    margin-right: 1%;
}

/* Start Section */
.start {
    background-color: var(--bg-color);
    height: 60vh;
    width: 70vw;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 2%;
    margin-bottom: 2%;
    transition: all 0.5s;
}

.imagen-programador {
    height: 100%;
    width: auto;
    border-bottom-left-radius: 15px;
}

.content {
    color: var(--text-color);
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Obised', sans-serif;
    font-style: italic;
}

.start:hover {
    height: 61vh;
    width: 71vw;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .start {
        flex-direction: column;
        height: auto;
    }

    .imagen-programador {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .content {
        margin-top: 10px;
        text-align: center;
    }
}

/* Experience */
.experience {
    width: calc(33.333% - 1rem);
    height: 45vh;
    background-color: #fff;
    margin-left: 0.5rem;
    position: relative;
    display: inline-block;
    border-radius: var(--border-radius);
    padding-bottom: 1%;
    transition: all 0.5s;
    overflow: hidden;
}

.content-skills {
    color: var(--bg-color);
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Obised', sans-serif;
    font-style: italic;
}

.iluminate-logo {
    display: block;
    filter: url(#glow);
    transition: filter 0.5s;
}

.experience:hover .iluminate-logo {
    filter: url(#glow-hover);
    width: 100%;
    height: 50%;
}

.experience:hover .conte {
    height: 60vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-bottom: 2%;
}

.experience:hover::after {
    white-space: pre-line;
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--text-color);
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

@media (max-width: 1024px) {
    .experience {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 768px) {
    .experience {
        width: calc(100% - 1rem);
    }
}

@media (max-width: 400px) {
    .experience {
        width: calc(100% - 1rem);
    }
}

/* Projects */
.projects {
    width: 70%;
    height: 60%;
    background-color: #fff;
    padding: 1%;
    transition: all 0.5s;
    margin-left: 10%;
    margin-bottom: 10%;
}

.projects:hover {
    box-shadow: 10px 10px 20px var(--shadow-color);
}

.content-experience {
    font-family: 'Ministry of Moron', sans-serif;
    font-style: italic;
    color: var(--bg-color);
}

.project {
    background-color: var(--bg-color);
    height: 60vh;
    width: 95vw;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 2%;
    margin-bottom: 2%;
    transition: all 0.5s;
}

.text-project {
    font-family: 'BastamanBold', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    margin: 1rem;
    font-style: italic;
}

.imagen-proyecto {
    height: 100%;
    width: auto;
    border-bottom-left-radius: 15px;
}
.view-project{
    background: none;
    border: none; 
    padding: 0;
    margin: 0;
    font: inherit; 
    cursor: pointer;
    outline: none; 
    box-shadow: none;
    background-color: rgba(0, 0, 0,0.5);
    color: #fff;
    width: 10rem;
    height: 2rem;
    font-family: 'BastamanBold', sans-serif;
    display: flex;
    align-items: center;
}